.input {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.input-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 200px;
}

.input-label {
  font-size: 20px;
}

.input-input {
  padding: 4px;
  border-radius: 4px; 
}

.input-button {
  display: inline-block;
  font-weight: 500;
  padding: 8px;
  color: white;
  border-radius: 5px;
  margin: 4px 4px 6px 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  border: none;
  background-color: rgba(0, 255, 0, 0.705);
  color: white;
}

.input-button:active {
  margin: 5px 4px 5px 4px;
}